body {
	text-align: center;
	text-decoration: none;
}
h1, h2, h3 {
	text-transform: uppercase;
}
p {
	text-transform: uppercase;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}

h3 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

.gl {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}
