body {
	text-align: center;
	text-decoration: none;
}
h1, h2, h3 {
	text-transform: uppercase;
}
p {
	text-transform: uppercase;
}

h1 {
	font-family: Raleway, sans-serif;
	text-color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400px;
	font-size: 45px;

a {
	font-family: Raleway, sans-serif;
	text-color: #F15B31
	text-spacing: 
